.idea
__pycache__
.DS_Store
.cache
.coverage
magen_logs
magen_files
build
htmlcov
*.out
*.egg-info
_build
server.PID
location_server.PID
Dockerfile-e
Makefile-e
.!*
*.log
*.whl
requirements.txt
coverage_html_report
magen-ks/
dist
*_app_logs/
doc/
docs/
idp_logs/
location_logs/
_static/
_templates/
mongo/

ingestion/ingestion_logs/
idp/docker_idp/*.whl
ingestion/docker_ingestion/*.whl
policy/docker_server/*.whl

magen-py.tgz
